:root{
    --color-primary:#1B4332;
      --color-scondry:#D8F3DC;
    --font-primary:morabba;
    --font-scondry:morabba-bold;

}
@font-face {
    font-family: morabba;
    src: url(font/Morabba-Medium.woff2);
    font-weight: 500;
}
@font-face {
    font-family: morabba-bold;
    font-weight: 700;
    src: url(font/Morabba-Bold.woff2);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}


/* header */

.header{
padding: 30px;
}
.header-wrp{
display: flex;
justify-content: space-around;
align-items: center;
}
.header-txt{
color: var(--color-primary);
font-size: 2rem;
font-family: var(--font-scondry);
}
.header-icon{
width: 40px;
height: 40px;
}
.header-icon__img{
width: 100%;
height: 100%;
}



            /*                         categorie */

.categorie{
     overflow-x: auto;
            -webkit-overflow-scrolling: touch;
}
.categorie::-webkit-scrollbar{
            display: none;
        }
.categorie-wrp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   
    
    
}
.categorie__items{
    font-family: var(--font-primary);
    background-color: var(--color-scondry);
    color: rgba(0, 0, 0, 60%);
    padding: 10px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-decoration: none;
}
.categorie__items--active{
    background-color: var(--color-primary);
    color: var(--color-scondry);
}







/*                       menu item */


.menu{
margin-top: 5rem;
padding:0 30px;
}
.menu-wrp{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 4rem;
}
.menu-item{
display: flex;
justify-content: center;
align-items: center;
position: relative;
}
.menu-items__img{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    z-index: 1;
}
.menu-item__name{
    font-family: var(--font-primary);
    top: 0;
    left: 0;
position: absolute;
box-shadow: 0 4 10 #000;
    background-color: white;
       box-shadow: 1px 1px 6px rgba(0, 0,0,60%);
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 2;
    
}
.menu-item__price{
    font-family: var(--font-primary);
   
    bottom: -5px;
    right: 0;
position: absolute;
box-shadow: 0 4 10 #000;
    background-color: white;
       box-shadow: 1px 1px 6px rgba(0, 0,0,60%);
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 2;
 
}



@media (max-width:500px) {
    .menu-wrp{
        gap: 1rem;
    }
    .categorie__items{
        padding: 10px;
      
    }
}